$orange         : #BD3613;
$blue           : #2176C7;

$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;
$cursive: Pacifico, cursive;

$default-border-radius : 10px;

$green : #5b9664;
$purple : #66333f;